<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles2.css" />
    <title>Dashboard Perpustakaan</title>
</head>
<body>

<div class="sidebar">
    <h2>Perpustakaan</h2>
    <a href="#">Dashboard</a>
    <a href="buku.html">Buku</a>
    <a href="#">Pengguna</a>
    <a href="#">Peminjaman</a>
    <a href="#">Pengembalian</a>
</div>

<div class="content">
    <div class="header">
        <h1>Dashboard Perpustakaan</h1>
    </div>
    
    <div class="stats">
        <div class="stat-card">
            <h3>Total Buku</h3>
            <p>150</p>
        </div>
        <div class="stat-card">
            <h3>Total Anggota</h3>
            <p>75</p>
        </div>
        <div class="stat-card">
            <h3>Peminjaman Harian
