<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Dashboard Perpustakaan</title>
</head>

<body>

    <div class="sidebar">
        <ul>
            <h2>Perpustakaan</h2>
            <a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            <a href="buku.html"><i class="fas fa-book"></i>Data Buku</a>
            <a href="#"><i class="fas fa-book-reader"></i>Peminjaman</a>
            <a href="#"><i class="fas fa-undo-alt"></i>Pengembalian</a>
            <a class="logout" href="../feature/logout.php"><i class="fas fa-sign-out-alt"></i>Log Out?</a>
        </ul>
    </div>

    <div class="content">
        <div class="header2">
            <h1>Dashboard Perpustakaan</h1>
        </div>

        <div class="stats">
            <div class="stat-card">
                <h3>Total Buku</h3>
                <i class="fas fa-book fa-3x"></i>
                <p>150</p>
            </div>
            <div class="stat-card">
                <h3>Total Anggota</h3>
                <i class="fas fa-user fa-3x"></i>
                <p>75</p>
            </div>
            <div class="stat-card">
                <h3>Peminjaman Harian</h3>
                <i class="fas fa-hand-holding fa-3x"></i>
                <p>15</p>
            </div>
        </div>
    </div>
    
</body>
<html>